.titleContainer {
	display: block;
	background-color: #368c36;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.title {
	font-family: Meta;
	font-size: 3em;
	font-weight: bold;
	color: #152d15;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 40px;
}

.tabContainer {
	margin-left: 10px;
	margin-right: 10px;
}

.sourceContainer {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
	font-size: medium;
	align: center;
}

.sourceInfo {
	margin-right: 5px;	
} 

.sendButton {
	display: block;
	font-size: 16pt;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}
