/* Stylesheet for Map*/

.temperatureOverlay {
	border: 1px solid rgba(0,0,0,1);
	border-radius: 50%;
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.avgTempText {
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

.map {
	width: 100%;
	border-bottom: 5px solid #1ec91e;
}