/* Stylesheet for table*/

.table {
	width: 100%;
	border-bottom: 5px solid #53c561;
}

.pager {
	margin: auto;
	width: 20%;
}

.tableHeader {
	background-color: #53c561;
}

.tableNummericColumn {
	
}