/* Stylesheet for table*/

.table {
	width: 100%;
	border-bottom: 5px solid #1ec91e;
}

.pager {
	margin-left: 35%;
	width: 30%;
}

.tableHeader {
	background-color: #1ec91e;
}

.toggleFilterButton {
	background-image: url("war/Images/filtericon25x25.png");
	background-repeat: no-repeat;
}